<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="servicingList">
    <div class="highlight-box">
        <p> Service Request List</p>
    </div>
    <div class="row">
        <div class="col-sm-12 firstDiv" >
            <div  class="leftDiv" >
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <!-- Left: Page Size Selector -->
                    <div th:replace="global/modal :: pageSizeSelector(${pageSize})"></div>

                    <!-- Right: Search Box -->
                    <div style="width: 250px;">
                        <input type="text" class="form-control search-input global-user-search"
                               data-table="serviceInformationServicingListTable" placeholder="Search ...">
                    </div>
                </div>
                <div class="responsive-table-wrapper">
                    <table id="serviceInformationServicingListTable" class="table table-bordered table-hover customTh">
                        <thead id="tableHeaderAddData">
                        <tr>
                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('serviceInformationServicingListTable', 0, this)|">
                                SN <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('serviceInformationServicingListTable', 1, this)|">
                                Department Name <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('serviceInformationServicingListTable', 2, this)|">
                                Category <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('serviceInformationServicingListTable', 3, this)|">
                                Problems <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('serviceInformationServicingListTable', 4, this)|">
                                Device Information <span class="sort-icon">⇅</span>
                            </th>



                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('serviceInformationServicingListTable', 5, this)|">
                                Delivery Date <span class="sort-icon">⇅</span>
                            </th>
                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('serviceInformationServicingListTable', 6, this)|">
                                Service Report<br> status  <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('serviceInformationServicingListTable', 7, this)|">
                                Create Time <span class="sort-icon">⇅</span>
                            </th>

                            <!-- Action (Not sortable) -->
                            <th scope="col" style="background-color: gray; color:white;">
                                Action
                            </th>
                        </tr>
                        </thead>


                    <tbody id="serviceInformationServicingListBody">
                    <tr th:each="device, iterStat : ${serviceRequests}"
                        th:if="${device.customerCareServiceRequestStatus == 'Accepted' &&
                            ( device.customerCareSendDeviceToServiceStatus == 'Device In Received')
                             }">

                    <td scope="row" th:text="${device.visibleServiceId}">1</td>
                        <td th:text="${device.departmentName}">departmentName</td>
                        <td th:text="${device.categoryName}">categoryName</td>

                        <td>
                            <ol style=" padding-left: 0;text-align: left;"  >
                                <li th:each="problem : ${device.allProblem}" th:text="${problem.name}" style="margin-left:10px">Problem Name</li>
                            </ol>
                        </td>

                        <td >

                            <button class="btn btn-info btn-sm view-button" th:data-device-id="${device.deviceId}" th:data-button-id="viewAlternative">
                                View   &#128065;
                            </button>

                        </td>


                        <td>
                            <span th:text="${device.cooServiceReportAcceptStatus ?: ' '}"></span>
                        </td>

                        <td>
                            <span th:if="${device.customerCareSendDeviceToServiceStatus == 'Device In Received'}" th:text="${device.proposalReceivingDateTime}" >10/11/2024</span>
                        </td>
                        <td th:text="${device.presentTime}">userPassword</td>
                        <td>

                            <div class="d-flex justify-content-center align-items-center action-button-container">
                                <button class="btn btn-sm  btn-info fas fa-pencil-alt text-primary  Edit ms-2" th:data-button-id="Edit" th:data-service-id="${device.id}"  title="Edit Problem"  th:if="${ device.customerCareSendDeviceToServiceStatus=='Device In Received'  && device.serviceReportStatus !='Saved'  && device.allProblem[0]?.proposalSolution == null }"></button>

                                <button  th:if="${device.customerCareSendDeviceToServiceStatus != 'Device In Received'}" class="btn  btn-sm text-white" th:data-service-id="${device.id}" th:data-button-id="accepted" style="background-color:green;">✔</button>
                                <button class="btn btn-primary btn-sm text-white fas" th:data-service-id="${device.id}" th:data-button-id="serviceReport" title="Generate Service report" th:data-device-id="${device.deviceId}" th:if="${device.cooServiceReportAcceptStatus !='Accepted' && device.serviceReportStatus !='Saved' }" >
                                    <i class="bi bi-file-earmark-text"></i></button>

                                <button class="btn btn-primary btn-sm text-white fas" th:data-service-id="${device.id}" th:data-button-id="editServiceReport" title="Edit service report" th:data-device-id="${device.deviceId}" th:if="${device.cooServiceReportAcceptStatus !='Accepted' && device.serviceReportStatus =='Saved' }" >
                                    <i class="bi bi-file-earmark-text"></i></button>
                                <button class="btn btn-primary btn-sm text-white fas" th:data-service-id="${device.id}" th:data-button-id="exportServiceReport" title="Export service report" th:data-device-id="${device.deviceId}" th:if="${ device.serviceReportStatus =='Saved' && device.cooServiceReportAcceptStatus =='Accepted' }" >
                                    <i class="bi bi-file-earmark-text"></i></button>
                                <button class="btn btn-secondary btn-sm accessoriesProposal-button" th:data-service-id="${device.id}" th:data-button-id="accessoriesProposal"  th:if="${ device.customerCareSendDeviceToServiceStatus=='Device In Received' && device.cooServiceReportAcceptStatus !='Accepted' && device.allProblem[0]?.proposalSolution == null }" title="Send Accessories Proposal To COO">
                                    &#128172; <!-- Speech Bubble -->
                                </button>

                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-sm-0 secondDiv"  style="display:none;" >
            <div  class="rightDiv" >

            </div>
        </div>
    </div>


</div>

<div th:fragment="deviceList">
    <div>
        <p> > Device Information</p>
    </div>
    <div class="row">
        <div class="col-sm-12 firstDiv" >
            <div  class="leftDiv" >
                <!-- Toggle Content Button -->
                <div class="responsive-table-wrapper">
                <table id="deviceListTable" >
                    <thead id="tableHeaderAddDataList" >
                    <tr  >
                        <th scope="col" style="background-color: gray;">SN</th>
                        <th scope="col" style="background-color: gray;">Category Name</th>
                        <!-- Dynamically generated headers from universalColumns -->
                        <th th:each="column : ${universalColumns}" th:text="${column.columnName}" style="background-color: gray;"></th>
                        <th scope="col" style="background-color: gray;">Description</th>
                    </tr>
                    </thead>
                    <tbody id="deviceListBody">
                    <tr th:each="device, iterStat : ${allDeviceData}">
                        <td scope="row" th:text="${iterStat.count}">1</td>
                        <td th:text="${device.categoryName}">categoryName</td>
                        <td th:each="universalColumn : ${universalColumns}" th:text="${device.allData[universalColumn.columnName]}"></td>
                        <td>
                            <ul style="list-style: none; padding-left: 0;text-align: center;" >
                                <li th:each="individualColumn : ${individualColumns}"
                                    th:if="${device.categoryName == individualColumn.categoryName}"
                                    th:text="${individualColumn.columnName+' :'+device.allData[individualColumn.columnName]}">1</li>
                            </ul>

                        </td>

                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-sm-0 secondDiv"  style="display:none;" >
            <div  class="rightDiv" >

            </div>
        </div>
    </div>


</div>
</body>
</html>