<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="serviceRequest">
    <div class="highlight-box">
        <p> Service Request List</p>
    </div>
    <div class="row">
        <div class="col-sm-12 firstDiv" >
            <div  class="leftDiv" >
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <!-- Left: Page Size Selector -->
                    <div th:replace="global/modal :: pageSizeSelector(${pageSize})"></div>

                    <!-- Right: Search Box -->
                    <div style="width: 250px;">
                        <input type="text" class="form-control search-input global-user-search"
                               data-table="serviceInformationTable" placeholder="Search ...">
                    </div>
                </div>
                <div class="responsive-table-wrapper">
                    <table id="serviceInformationTable" class="table table-bordered table-hover customTh">
                        <thead id="tableHeaderAddData">
                        <tr>
                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 0, this)|">
                                SN <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 1, this)|">
                                Department Name <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 2, this)|">
                                Category <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 3, this)|">
                                Problems <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 4, this)|">
                                Device Information <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 5, this)|">
                                Dept To CustomerCare <br> Status <span class="sort-icon">⇅</span>
                            </th>
                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 6, this)|">
                                CustomerCare To Service <br> Status <span class="sort-icon">⇅</span>
                            </th>
                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 7, this)|">
                                Service To Customer <br> Status <span class="sort-icon">⇅</span>
                            </th>
                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 8, this)|">
                                CustomerCare To Dept <br> Status <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white"
                                th:onclick="|window.sortTable('serviceInformationTable', 9, this)|">
                                Create Time <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white">
                                Action
                            </th>
                        </tr>
                        </thead>
                    <tbody id="serviceInformationBody">
                    <tr th:each="device, iterStat : ${serviceRequests}" th:if="${device.customerCareServiceRequestStatus == 'Accepted'}" >
                        <td scope="row" th:text="${device.visibleServiceId}">1</td>
                        <td th:text="${device.departmentName}">departmentName</td>
                        <td th:text="${device.categoryName}">categoryName</td>

                        <td>
                            <ol style=" padding-left: 10;text-align: left;"  >
                                <li th:each="problem : ${device.allProblem}" th:text="${problem.name}">Problem Name</li>
                            </ol>
                        </td>

                        <td >

                            <button class="btn btn-info btn-sm view-button" th:data-device-id="${device.deviceId}" th:data-button-id="viewAlternative">
                                View   &#128065;
                            </button>

                        </td>

                        <td th:text="${device != null && device.customerCareServiceRequestStatus != null ? device.customerCareServiceRequestStatus : 'Pending'}">
                        <td th:text="${device != null && device.customerCareSendDeviceToServiceStatus != null ? device.customerCareSendDeviceToServiceStatus : ' '}">
                        </td>
                        <!-- 1) Always render the cell; show value only when 'Device delivered' -->
                        <td th:text="${device.serviceCenterToCustomerCareStatus == 'Device delivered'
                           ? (device.customerCareReceiveDeviceFromServiceStatus ?: 'Pending')
                           : ''}">
                        </td>

                        <!-- 2) Always render; show status or empty string -->
                        <td th:text="${device.customerCareToDepartmentStatus ?: ''}"></td>


                        <td th:text="${device.presentTime}">userPassword</td>

                        <td>

                            <div class="d-flex justify-content-center align-items-center action-button-container">

                                <button th:if="${device.customerCareSendDeviceToServiceStatus != 'Send' && device.customerCareSendDeviceToServiceStatus !='Device In Received' }" class="btn  btn-sm text-white" th:data-service-id="${device.id}" th:data-button-id="sendDeviceService" style="background-color:green;" title="Send device to service center">✔</button>
<!--                                <span th:unless="${device.customerCareSendDeviceToServiceStatus == 'Send'}"></span>-->
                                <button th:if="${device.serviceCenterToCustomerCareStatus == 'Device delivered' && device.customerCareReceiveDeviceFromServiceStatus != 'Device received' }" class="btn  btn-sm text-white" th:data-service-id="${device.id}" th:data-button-id="receiveDevice" style="background-color:green;" title="Receive device from service center">✔</button>
                                <button th:if="${device.customerCareReceiveDeviceFromServiceStatus == 'Device received' && device.departmentReceiveDeviceFromCustomerCareStatus !='Device received' }" class="btn  btn-sm text-white" th:data-service-id="${device.id}" th:data-button-id="deliveryDevice" style="background-color:green;" title="Delivery device to Department">✔</button>


                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-sm-0 secondDiv"  style="display:none;" >
            <div  class="rightDiv" >

            </div>
        </div>
    </div>


</div>

<div th:fragment="deviceList">
    <div>
        <p> > Device Information</p>
    </div>
    <div class="row">
        <div class="col-sm-12 firstDiv" >
            <div  class="leftDiv" >
                <!-- Toggle Content Button -->

                <table id="deviceListTable" >
                    <thead id="tableHeaderAddDataList" >
                    <tr  >
                        <th scope="col" style="background-color: gray;">SN</th>
                        <th scope="col" style="background-color: gray;">Category Name</th>
                        <!-- Dynamically generated headers from universalColumns -->
                        <th th:each="column : ${universalColumns}" th:text="${column.columnName}" style="background-color: gray;"></th>
                        <th scope="col" style="background-color: gray;">Description</th>
                    </tr>
                    </thead>
                    <tbody id="deviceListBody">
                    <tr th:each="device, iterStat : ${allDeviceData}">
                        <td scope="row" th:text="${iterStat.count}">1</td>
                        <td th:text="${device.categoryName}">categoryName</td>
                        <td th:each="universalColumn : ${universalColumns}" th:text="${device.allData[universalColumn.columnName]}"></td>
                        <td>
                            <ul style="list-style: none; padding-left: 0;text-align: center;" >
                                <li th:each="individualColumn : ${individualColumns}"
                                    th:if="${device.categoryName == individualColumn.categoryName}"
                                    th:text="${individualColumn.columnName+' :'+device.allData[individualColumn.columnName]}">1</li>
                            </ul>

                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-0 secondDiv"  style="display:none;" >
            <div  class="rightDiv" >

            </div>
        </div>
    </div>


</div>
</body>
</html>