<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="Designation">
    <div class="highlight-box">
        <p> Designation List</p>
    </div>
    <div class="row">
        <div class="col-sm-12 firstDiv" >
            <div  class="leftDiv" >
                <!-- Toggle Content Button -->
                <div class="d-flex justify-content-center mb-2">
                    <button class="btn btn-success btn-sm" onclick="addDesignationToggle()" style="width: 10%;">Add</button>
                </div>
                <div id="designationForm" style="display: none; " class="  mb-2">
                    <div class="mb-3" style="margin-left: 0%;text-align:left;">
                        <label for="designationName" class="form-label">Designation Name</label>
                        <input type="text" class="form-control" id="designationName" placeholder="Enter Designation name">
                    </div>
                    <div class="mb-3" style="margin-left: 0%;text-align:left;">
                        <button type="button" class="btn btn-primary"  onclick="saveDesignationBtn('designationForm')">Save</button>
                        <button type="button" class="btn btn-secondary" onclick="closeToggle('designationForm')">Close</button>
                    </div>

                </div>

                <div class="responsive-table-wrapper">
                <!-- Category Table -->
                <table id="designationTable" >
                    <thead>
                    <tr>
                        <th scope="col" style="background-color: gray;">SN</th>
                        <th scope="col" style="background-color: gray;">Category Name</th>
                        <th scope="col" style="background-color: gray;">Create Time</th>
                        <th scope="col" style="background-color: gray;">Action</th>
                    </tr>
                    </thead>
                    <tbody id="designationTableBody">
                    <tr th:each="category, iterStat : ${designations}">
                        <td  th:text="${iterStat.count}">1</td>
                        <td th:text="${category.designationName}">Category Name</td>
                        <td th:text="${category.presentTime}">userPassword</td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center action-button-container">
                                <button class="btn btn-sm  fas fa-pencil-alt text-primary small-button Edit ms-2"></button>
                                <button class="btn btn-sm  fas fa-trash text-danger small-button Delete ms-2"></button>
                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div  th:fragment="Column" >
  <p>Column ColumnColumn   ColumnColumnCol   umnColumnColumnColumnCol   umnColumn</p>
</div>
</body>
</html>