<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="dropdownList" >
    <div class="highlight-box">
        <p> Dropdown List</p>
    </div>
    <div class="row">
        <div class="col-sm-12 firstDiv" >
            <div  class="leftDiv" >
                <!-- Toggle Content Button -->
                <div class="d-flex justify-content-center mb-2">
                    <!--        <button class="btn btn-success btn-sm" onclick="addIndividualColumnToggle()" style="width: 10%;">Add</button>-->
                    <button class="btn btn-success btn-sm" onclick="addDropdownListInformation()" style=" white-space: nowrap;">Add DropDown List</button>

                </div>
                <div class="responsive-table-wrapper">
                <table id="dropdownListInformationTable" >
                    <thead id="tableHeaderAddData" >
                    <tr  >
                        <th scope="col" style="background-color: gray;">SN</th>
                        <th scope="col" style="background-color: gray;">Category</th>
                        <th scope="col" style="background-color: gray;">List Name</th>
                        <!-- Dynamically generated headers from universalColumns -->
                        <th scope="col" style="background-color: gray;">List</th>
                        <th scope="col" style="background-color: gray;">Create Time</th>
                        <th scope="col" style="background-color: gray;">Action</th>
                    </tr>
                    </thead>
                    <tbody id="dropdownListInformationBody">
                    <tr th:each="device, iterStat : ${dropDownLists}">
                        <td scope="row" th:text="${iterStat.count}">1</td>
                        <td th:text="${device.categoryName}">categoryName</td>
                        <td th:text="${device.dropDownListName}">listName</td>
                        <td>
                            <ol style=" padding-left: 0;text-align: left;"  >
                                <li th:each="name : ${device.allData}" th:text="${name}">List Value</li>
                            </ol>
                        </td>
                        <td th:text="${device.presentTime}">userPassword</td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center action-button-container">
                                <button class="btn btn-sm  fas fa-pencil-alt text-primary small-button Edit ms-2" th:data-list-id="${device.id}"></button>
                                <button class="btn btn-sm  fas fa-trash text-danger small-button Delete ms-2" th:data-list-id="${device.id}"></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-sm-0 secondDiv"  style="display:none;" >
            <div  class="rightDiv" >

            </div>
        </div>
    </div>


</div>


</body>
</html>