<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="listRequestData">

    <div class="highlight-box">
        <p>  Alternative List Request</p>
    </div>
    <div class="row">
        <div class="col-sm-9 firstDiv" >
            <div  class="leftDiv" >
                <div style="text-align: right;">
                    <button class="btn btn-sm text-black small-button showButton"  style="display:none;"> < </button>
                </div>
                <div class="responsive-table-wrapper">
                <table id="listRequestInventoryTable" >
                    <thead>
                    <tr>
                        <th scope="col" style="background-color: gray;">SN</th>
                        <th scope="col" style="background-color: gray;">Bivag Name</th>
                        <th scope="col" style="background-color: gray;">Category Name</th>
                        <!-- Dynamically generated headers from universalColumns -->
                        <th scope="col" style="background-color: gray;">Description</th>
                        <th scope="col" style="background-color: gray;"> Available Product</th>
                        <th scope="col" style="background-color: gray;"> Status in Coo</th>
                        <th scope="col" style="background-color: gray;color:white">Tracking</th>
                        <th scope="col" style="background-color: gray;">Action</th>
                    </tr>
                    </thead>
                    <tbody id="listRequestInventoryTableBody">

                    </tbody>

                </table>
            </div>
            </div>
        </div>
        <div class="col-sm-3 secondDiv"   >
            <div  class="rightDiv" >

                <div style="text-align: right;">
                    <button class="btn btn-sm text-black small-button hideButton" style="display:inline-block" >X</button>
                </div>

                <div class="activityDiv">
                    <div style="text-align:center;font-weight:bold;color:green">Activity</div>
                    <p> <b>Note: </b> <br> Click on any row of Table and see the Activity.</p>
                </div>
                <br>
            </div>
        </div>
    </div>
    <!-- Toggle Content Button -->
    <!-- Category Table -->

</div>


</body>
</html>