<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="requestData">
    <!-- Toggle Content Button -->
    <!-- Category Table -->
    <div class="highlight-box">
        <p>  Request Data List</p>
    </div>
    <div class="row">
        <div class="col-sm-12 firstDiv" >
            <div  class="leftDiv" >
                <div style="text-align: right;">
                    <button class="btn btn-sm text-black small-button showButton"  style="display:none;"> < </button>
                </div>
                <div class="dropdown">
                    <input type="text" style="width:20%" class="form-control dropdown-toggle custom-width" id="individualTopInput" data-bs-toggle="dropdown" placeholder="Category" aria-expanded="false" value="Category">
                    <ul  class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownTextFieldTop" id="individualTopUlList">
                        <li th:each="category : ${data}"><a class="dropdown-item individualTopSelection" href="#" th:text="${category.categoryName}"></a></li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <button class="btn btn-success btn-sm" onclick="addUerToggle111()" >Add</button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <!-- Left: Page Size Selector -->
                    <div th:replace="global/modal :: pageSizeSelector(${pageSize})"></div>

                    <!-- Right: Search Box -->
                    <div style="width: 250px;">
                        <input type="text" class="form-control search-input global-user-search"
                               data-table="requestTable" placeholder="Search ...">
                    </div>
                </div>
                <div class="responsive-table-wrapper">
                    <table id="requestTable" class="table table-bordered table-hover customTh">
                        <thead>
                        <tr>
                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('requestTable', 0, this)|">
                                SN <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('requestTable', 1, this)|">
                                Bivag Name <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('requestTable', 2, this)|">
                                Category Name <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('requestTable', 3, this)|">
                                Description <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('requestTable', 4, this)|">
                                Request Status <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('requestTable', 5, this)|">
                                Create Time <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white;"
                                th:onclick="|window.sortTable('requestTable', 6, this)|">
                                Tracking <span class="sort-icon">⇅</span>
                            </th>

                            <!-- Action column (not sortable) -->
                            <th scope="col" style="background-color: gray; color:white;">
                                Action
                            </th>
                        </tr>
                        </thead>


                    <tbody id="requestTableBody">
                    <tr th:each="device, iterStat : ${requestData}"  onclick="printRowDataForCustomerCare(this)">
                        <td  th:text="${device.visibleRequestId}" >1</td>
                        <td  th:text="${device.departmentName}" >1</td>
                        <td  th:text="${device.allData[category]}" >1</td>
                        <td style="text-align: left;" th:data-request-id="${device.id}" class="viewInfo"  >
                            <!-- Loop over the requestColumns to create list items -->
                            <div  th:each="individualColumn : ${requestColumns}"
                                  th:if="${individualColumn.visibleType == 'yes' }">
                                <!-- Check if the column data type is 'textarea' -->
                                <div th:if="${individualColumn.dataType == 'textarea'}">
                                    <textarea class="plain-textarea"
                                              th:text="${device.allData[individualColumn.columnName]}"></textarea>
                                </div>
                                <!-- For any other data type -->
                                <div th:if="${individualColumn.dataType != 'textarea'}">
                                    <span th:text="${individualColumn.columnName}"></span>:
                                    <span th:text="${device.allData[individualColumn.columnName] ?: 'N/A'}"></span>
                                </div>
                            </div>
                            <p  th:data-request-id="${device.id}" th:data-button-id="viewInfo">
                                &#128065;
                            </p>
                        </td>

                        <td>
                            <span th:if="${device.requestMode == 'Denied'}">
                                <a href="#" th:data-reject-cause="${device.rejectCause}" onclick="printRejectCause(this)" style="text-decoration:none">Denied</a>
                            </span>
                            <span th:unless="${device.requestMode == 'Denied'}" th:text="${device.requestMode}"></span>
                        </td>
                        <td th:text="${device.presentTime}">userPassword</td>
                        <td onclick="window.trackDeviceRequestData(this.closest('tr'), this)" class="view-device-status" th:data-request-id="${device.id}" style="background-color: #007bff; color: #ffffff; text-align: center; padding: 10px; border-radius: 5px; cursor: pointer; font-weight: 500; transition: background-color 0.3s ease; font-size: 14px;" onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#007bff'" title="View Request data tracking information">View</td>

                        <td>

                            <div class="d-flex justify-content-center align-items-center action-button-container">
                                <button class="btn  btn-sm text-white" th:data-request-id="${device.id}" style="background-color:green;" th:if="${device.requestMode !='Accepted'}"  title="Accept Device Request">✔</button>

                                <button class="btn btn-danger btn-sm delete-button" th:data-request-id="${device.id}" th:if="${device.requestMode !='Accepted'}" title="Cancel Device Request">
                                    &#10007;
                                </button>

                            </div>
                        </td>

                    </tr>
                    <tr class="last-page-flag"  th:data-lastpagerequestData="${lastPagerequestData}" th:data-totalpagerequestData="${totalPagerequestData}"  style="display:none;"></tr>
                    </tbody>

                </table>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>