<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="requestData">
    <!-- Toggle Content Button -->
    <!-- Category Table -->
    <div class="highlight-box">
        <p>  Request Data List</p>
    </div>
    <div class="row">
        <div class="col-sm-9 firstDiv" >
            <div  class="leftDiv" >
                <div style="text-align: right;">
                    <button class="btn btn-sm text-black small-button showButton"  style="display:none;"> < </button>
                </div>
                <div class="dropdown">
                    <input type="text" style="width:20%" class="form-control dropdown-toggle custom-width" id="individualTopInput" data-bs-toggle="dropdown" placeholder="Category" aria-expanded="false" value="Category">
                    <ul  class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownTextFieldTop" id="individualTopUlList">
                        <li th:each="category : ${data}"><a class="dropdown-item individualTopSelection" href="#" th:text="${category.categoryName}"></a></li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <button class="btn btn-success btn-sm" onclick="addUerToggle111()" >Add</button>
                </div>
                <div class="responsive-table-wrapper">
                <table id="requestTable" >
                    <thead>

                    <tr>
                        <th scope="col" style="background-color: gray; color:white">SN</th>
                        <th scope="col" style="background-color: gray; color:white">Bivag Name</th>
                        <th scope="col" style="background-color: gray; color:white">Category Name</th>
                        <th scope="col" style="background-color: gray; color:white">Description</th>

                        <th scope="col" style="background-color: gray; color:white"> Request Status</th>
                        <th scope="col" style="background-color: gray;">Create Time</th>
                        <th scope="col" style="background-color: gray; color:white">Action</th>
                    </tr>
                    </thead>
                    <tbody id="requestTableBody">
                    <tr th:each="device, iterStat : ${requestData}"  onclick="printRowDataForCustomerCare(this)">
                        <td  th:text="${device.visibleRequestId}" >1</td>
                        <td  th:text="${device.departmentName}" >1</td>
                        <td  th:text="${device.allData[category]}" >1</td>
                        <td style="text-align: left;" th:data-request-id="${device.id}" class="viewInfo"  >
                            <!-- Loop over the requestColumns to create list items -->
                            <div  th:each="individualColumn : ${requestColumns}"
                                  th:if="${individualColumn.visibleType == 'yes' }">
                                <!-- Check if the column data type is 'textarea' -->
                                <div th:if="${individualColumn.dataType == 'textarea'}">
                                    <textarea class="plain-textarea"
                                              th:text="${device.allData[individualColumn.columnName]}"></textarea>
                                </div>
                                <!-- For any other data type -->
                                <div th:if="${individualColumn.dataType != 'textarea'}">
                                    <span th:text="${individualColumn.columnName}"></span>:
                                    <span th:text="${device.allData[individualColumn.columnName] ?: 'N/A'}"></span>
                                </div>
                            </div>
                            <p  th:data-request-id="${device.id}" th:data-button-id="viewInfo">
                                &#128065;
                            </p>
                        </td>

                        <td>
                            <span th:if="${device.requestMode == 'Denied'}">
                                <a href="#" th:data-reject-cause="${device.rejectCause}" onclick="printRejectCause(this)" style="text-decoration:none">Denied</a>
                            </span>
                            <span th:unless="${device.requestMode == 'Denied'}" th:text="${device.requestMode}"></span>
                        </td>
                        <td th:text="${device.presentTime}">userPassword</td>
                        <td>

                            <div class="d-flex justify-content-center align-items-center action-button-container">
                                <button class="btn  btn-sm text-white" th:data-request-id="${device.id}" style="background-color:green;" th:if="${device.requestMode !='Accepted'}">✔</button>

                                <button class="btn btn-danger btn-sm delete-button" th:data-request-id="${device.id}" th:if="${device.requestMode !='Accepted'}">
                                    &#10007;
                                </button>

                                <button class="btn btn-secondary btn-sm chat-button" th:data-request-id="${device.id}">
                                    &#128172; <!-- Speech Bubble -->
                                </button>
                            </div>
                        </td>

                    </tr>
                    </tbody>

                </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3 secondDiv"   >
            <div  class="rightDiv" >
                <div style="text-align: right;">
                    <button class="btn btn-sm text-black small-button hideButton" style="display:inline-block">X</button>
                </div>
                <br>
                <div class="activityDiv">
                    <div style="text-align:center;font-weight:bold;color:green">Activity</div>
                    <p> <b>Note: </b> <br> Click on any row of Table and see the Activity.</p>
                </div>

            </div>
        </div>
    </div>

</div>


</body>
</html>