<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="requestDataProposal">
    <div class="highlight-box">
        <p>  Request data List</p>
    </div>
    <div class="row">
        <div class="col-sm-9 firstDiv" >
            <div  class="leftDiv" >
                <div style="text-align: right;">
                    <button class="btn btn-sm text-black small-button showButton"  style="display:none;"> < </button>
                </div>
                <div class="dropdown">
                    <input type="text" style="width:20%" class="form-control dropdown-toggle custom-width" id="individualTopInput" data-bs-toggle="dropdown" placeholder="Category" aria-expanded="false" value="Category">
                    <ul  class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownTextFieldTop" id="individualTopUlList">
                        <li th:each="category : ${data}"><a class="dropdown-item individualTopSelection" href="#" th:text="${category.categoryName}"></a></li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <button class="btn btn-success btn-sm" onclick="addUerToggle111()" >Add</button>
                </div>
                <!-- Toggle Content Button -->
                <!-- Category Table -->
                <div class="responsive-table-wrapper">
                <table id="requestInventoryProposalTable" >
                    <thead>
                    <tr>
                        <th scope="col" style="background-color: gray;color:white">SN</th>
                        <th scope="col" style="background-color: gray;color:white">Bivag Name</th>
                        <th scope="col" style="background-color: gray;color:white">Category Name</th>
                        <!-- Dynamically generated headers from universalColumns -->
                        <th th:each="column : ${requestColumns}"
                            th:if="${column.visibleType} == 'yes'"
                            th:text="${column.columnName}"
                            style="background-color: gray;color:white">
                        </th>
                        <th scope="col" style="background-color: gray;color:white"> Status In Purchase</th>
                        <th scope="col" style="background-color: gray;color:white">  Status In COO</th>
                        <th scope="col" style="background-color: gray;color:white"> Purchase Device Delivery Status </th>
                        <th scope="col" style="background-color: gray;color:white">Request Time</th>
                        <th scope="col" style="background-color: gray;color:white">Action</th>
                    </tr>
                    </thead>
                    <tbody id="requestInventoryProposalTableBody">
                    <tr th:each="device, iterStat : ${requestData}" th:if="${device.requestMode == 'Accepted' && device.inventory?.inventoryStatus=='Purchased' }" onclick="printRowDataForCustomerCare(this)">
                        <td  th:text="${device.visibleRequestId}" >1</td>
                        <td  th:text="${device.departmentName}" >1</td>
                        <td  th:text="${device.allData[category]}" >1</td>
                        <td th:each="individualColumn : ${requestColumns}"
                            th:if="${individualColumn.visibleType == 'yes' }">

                            <!-- Check if the column data type is 'textarea' -->
                            <div th:if="${individualColumn.dataType == 'textarea'}">
                                <textarea class="plain-textarea" th:text="${device.allData[individualColumn.columnName]}"></textarea>
                            </div>

                            <!-- For any other data type -->
                            <div th:unless="${individualColumn.dataType == 'textarea'}"
                                 th:text="${device.allData[individualColumn.columnName]}">
                            </div>
                        </td>

                        <td th:text="${device.purchase != null && device.purchase.purchaseStatus != null ? device.purchase.purchaseStatus : 'Pending'}">
                        </td>
                        <td th:text="${device.purchase != null && device.purchase.cooAns != null ? device.purchase.cooAns : ' '}">
                        </td>

                        <td th:text="${device.purchase != null && device.purchase.purchaseDeviceSenderToInventoryStatus != null ? device.purchase.purchaseDeviceSenderToInventoryStatus : ' '}">
                        </td>
                        <td th:text="${device.purchase != null && device.purchase.RequestTime != null ? device.purchase.RequestTime : ' '}">
                        </td>

                        <td >
                            <div class="d-flex justify-content-center align-items-center action-button-container">
                            <button class="btn btn-primary btn-sm text-white fas"   th:data-purchasedevice-id="${device.purchase?.purchaseDeviceSenderToInventoryDeviceId}" th:data-request-id="${device.id}" th:if="${device.purchase?.purchaseDeviceSenderToInventoryStatus=='Pending'}" th:data-button-id="deliver" title="Accept Device From Purchase">
                                ✔</button>
                            </div>

                        </td>


                    </tr>
                    </tbody>

                </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3 secondDiv"   >
            <div  class="rightDiv" >
                <div style="text-align: right;">
                    <button class="btn btn-sm text-black small-button hideButton" style="display:inline-block">X</button>
                </div>
                <div class="activityDiv">
                    <div style="text-align:center;font-weight:bold;color:green">Activity</div>
                    <p> <b>Note: </b> <br> Click on any row of Table and see the Activity.</p>
                </div>
                <br>
            </div>
        </div>
    </div>

</div>


</body>
</html>