<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="serviceAccessoriesPendingAlternativeData">
    <!-- Toggle Content Button -->
    <!-- Category Table -->
    <div class="highlight-box">
        <p> Service Accessories List</p>
    </div>
    <div class="row">
        <div class="col-sm-12 firstDiv" >
            <div  class="leftDiv" >
                <div style="text-align: right;">
                    <button class="btn btn-sm text-black small-button showButton"  style="display:none;"> < </button>
                </div>
                <div class="dropdown">
                    <input type="text" style="width:20%" class="form-control dropdown-toggle custom-width" id="individualTopInput" data-bs-toggle="dropdown" placeholder="Category" aria-expanded="false" value="Category">
                    <ul  class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownTextFieldTop" id="individualTopUlList">
                        <li th:each="category : ${data}"><a class="dropdown-item individualTopSelection" href="#" th:text="${category.categoryName}"></a></li>
                    </ul>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <!-- Left: Page Size Selector -->
                    <div th:replace="global/modal :: pageSizeSelector(${pageSize})"></div>

                    <!-- Right: Search Box -->
                    <div style="width: 250px;">
                        <input type="text" class="form-control search-input global-user-search"
                               data-table="serviceAccessoriesPendingAlternativeDataTable" placeholder="Search ...">
                    </div>
                </div>
                <div class="responsive-table-wrapper">
                    <table id="serviceAccessoriesPendingAlternativeDataTable" class="table table-bordered table-hover customTh">
                        <thead>
                        <tr>
                            <th scope="col" style="background-color: gray; color:white; width: 5%;"
                                th:onclick="|window.sortTable('serviceAccessoriesPendingAlternativeDataTable', 0, this)|">
                                SN <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white; width: 10%;"
                                th:onclick="|window.sortTable('serviceAccessoriesPendingAlternativeDataTable', 1, this)|">
                                Bivag Name <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white; width: 5%;"
                                th:onclick="|window.sortTable('serviceAccessoriesPendingAlternativeDataTable', 2, this)|">
                                Category <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white; width: 10%;"
                                th:onclick="|window.sortTable('serviceAccessoriesPendingAlternativeDataTable', 3, this)|">
                                Problem <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white; width: 5%;"
                                th:onclick="|window.sortTable('serviceAccessoriesPendingAlternativeDataTable', 4, this)|">
                                Accessories <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white; width: 5%;"
                                th:onclick="|window.sortTable('serviceAccessoriesPendingAlternativeDataTable', 5, this)|">
                                Check <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white; width: 5%;"
                                th:onclick="|window.sortTable('serviceAccessoriesPendingAlternativeDataTable', 6, this)|">
                                Request Time <span class="sort-icon">⇅</span>
                            </th>

                            <th scope="col" style="background-color: gray; color:white; width: 5%;"
                                th:onclick="|window.sortTable('serviceAccessoriesPendingAlternativeDataTable', 7, this)|">
                                Delivery Date <span class="sort-icon">⇅</span>
                            </th>
                        </tr>
                        </thead>


                    <tbody id="serviceAccessoriesPendingAlternativeDataTableBody">

                    </tbody>
                </table>
                </div>

            </div>
        </div>

    </div>

</div>


</body>
</html>