<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>snvn</title>
    <link rel="icon" type="image/png" th:href="@{/img/manLogo.png}">

    <p th:include="departmentUser/header :: departmentUserHeader"></p>
</head>

<body style="background-color:#fff5ec;">
<nav th:include="departmentUser/topMenuBar:: topMenuBarDepartmentUser"></nav>
<div id="chat-icon" onclick="openChatModal()">💬</div>

<div style="padding-top:5em"  class="mainBody">
    <!--<section class="container mb-4   ">

        <div th:include="departmentUser/addUser :: addUser" data-page="addUser"></div>
        <div th:include="departmentUser/Request :: Request" data-page="Request" ></div>
        <div th:include="departmentUser/deviceInformation :: deviceInformation" data-page="deviceInformation"></div>
        <div th:include="departmentUser/serviceRequest :: serviceRequest" data-page="serviceRequest"> </div>
    </section>-->
    <div id="departmentContainer" class="container mb-4" >
    </div>
</div>
<div th:include="departmentUser/leftOffCanvas :: leftOffCanvas"></div>
<div th:include="departmentUser/publicModal :: publicModal"></div>
<div th:include="global/modal :: chatModal"></div>
<div th:include="global/modal :: loadingSpinner"></div>
<div th:include="global/modal :: CloseConfirmationModal"></div>
<div th:include="global/modal :: publicModalSmall"></div>
<div th:include="global/modal :: publicModalMedium"></div>
<div th:include="global/modal :: publicModalLarge"></div>
<div th:include="global/modal :: publicModalExtraLarge"></div>
<div th:include="global/modal :: confirmModal"></div>


</body>
</html>