<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
    <p th:include="departmentUser/header :: departmentUserHeader"></p>
</head>

<body style="background-color:#fff5ec;">
<nav th:include="departmentUser/topMenuBar:: topMenuBarDepartmentUser"></nav>
<div style="padding-top:5em"  class="mainBody">
    <!--<section class="container mb-4   ">

        <div th:include="departmentUser/addUser :: addUser" data-page="addUser"></div>
        <div th:include="departmentUser/Request :: Request" data-page="Request" ></div>
        <div th:include="departmentUser/deviceInformation :: deviceInformation" data-page="deviceInformation"></div>
        <div th:include="departmentUser/serviceRequest :: serviceRequest" data-page="serviceRequest"> </div>
    </section>-->
    <div id="departmentContainer" class="container mb-4" >
    </div>
</div>
<div th:include="departmentUser/leftOffCanvas :: leftOffCanvas"></div>
<div th:include="departmentUser/publicModal :: publicModal"></div>

</body>
</html>